/* css stylesheet for books api PROJECT
  author: Jorge L. jlvazquez
  date: 2/24/2019
*/

body {
  /* background-color: #76a9e0; */
  background-image: url("https://media.giphy.com/media/xT77Y1T0zY1gR5qe5O/giphy.gif");
  background-color: #90794e;
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




#header {
  margin-top:10px;
  font-family: 'Righteous', sans-serif;
  font-size: 7rem;
  
  color:#1e40af
}

h2 {
  font-family: 'Righteous', sans-serif;
  
}

.book-list {
  margin-top: 50px;
  visibility: hidden;
}
